@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}



.grid {
    display              : grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}


.text-d {
    &:hover {
        text-decoration: underline !important;

    }
}



.container {
    width : 1170px;
    margin: auto;
}

.display-flex {
    display: flex;
}

.top-content {
    background-color: #80990b;
    display         : flex;
    place-items     : center;
    justify-content : space-between;
    padding         : 0px 20px;

}

.nav-mobile-close {
    color : #fff;
    cursor: pointer;
}

.nav-bars-btn {
    margin-left: 20px;
    width      : 28px;
    height     : 28px;
    color      : #D8D8D8;
    cursor     : pointer;
    display    : none;
    font-size  : 23px;
}

.dropdown-list {
    display   : none;
    list-style: none;
    padding   : 0;

    .dropdown-item {
        a {
            color    : #888;
            font-size: 14px;
        }
    }
}

.dropdown-memu-item {
    list-style: none;
    padding   : 0;
}

.nav-overlay {
    position        : fixed;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    background-color: rgba(0, 0, 0, 0.3);
    display         : none;
    animation       : fadeIn linear 0.1s;
    z-index         : 1;
}

.nav-mobile {
    position        : fixed;
    top             : 0;
    bottom          : 0;
    left            : 0;
    width           : 82%;
    max-width       : 100%;
    background-color: #fff;
    z-index         : 4;
    margin          : 0;
    transform       : translateX(-100%);
    transition      : transform linear 0.2s;
}

.nav-mobile-list-item {
    margin : 0;
    padding: 0;
}

.nav-login {
    color: #fff !important;
}

.dropdown-memu {
    border-bottom: 1px solid #eee;
    padding      : 7px 0;


}




.nav-mobile-list {
    padding-left : 25px !important;
    padding      : 0;
    list-style   : none;
    border-bottom: 1px solid rgba(0, 0, 0, .079);



    li {
        a {
            display        : flex;
            align-items    : center;
            gap            : 17px;
            text-decoration: none;
            padding        : 12px 0 12px 20px;
            color          : #292929;

            i {
                color: #fff
            }
        }
    }
}



.nav-mobele-link {
    text-decoration: none;
    color          : #000;
    font-weight    : 700;
    display        : block;
    padding        : 8px 0;
}

.icon-search {
    list-style: none;
    display   : none;
    color     : #222;

}



.nav-input {
    display: none;
}

.nav-input:checked~.nav-overlay {
    display: block;
}

.nav-input:checked~.nav-mobile {
    transform: translateX(0%);
}

#Header {
    position: relative;

    .menu {
        display        : flex;
        width          : 100%;
        justify-content: space-between;
        place-items    : center;
        position       : absolute;
        top            : 0;
        z-index        : 1;

        .logo {
            margin-left   : 50px;
            font-family   : 'Mulish', sans-serif;
            font-size     : 35px;
            font-weight   : bold;
            line-height   : 1.2;
            color         : rgb(34, 34, 34);
            letter-spacing: -2px;

            span {
                color: #ADBD61;
            }
        }

        .ul-menu {
            margin: 0;
            display: flex;
            list-style: none;
            gap: 80px;
            margin-left: 62px;
            align-items: center;

            .li-menu {
                cursor: pointer;
                list-style : none;
                gap        : 4px;
                margin     : 0;
                font-size  : 15px;
                font-family: 'Mulish', sans-serif;
                color      : black;
                font-weight: bold;
                line-height: 1.2;
                display    : flex;
                height     : 83px;
                align-items: center;
                border-top : 5px solid transparent;

                .dropdown-toggle {
                    display        : flex;
                    align-items    : center;
                    text-decoration: none;
                    color          : black;

                    &.active {
                        border-top: 5px solid rgb(128, 153, 11);
                        color     : #80990B;
                    }
                }

                .farmart-svg-icon {
                   
                    svg {
                        font-size     : 12px;
                        vertical-align: -0.125em;
                        width         : 1em;
                        height        : 1em;
                        display       : inline-block;
                        fill          : currentColor;
                     
                    }
                }

                &:hover {
                    border-top: 5px solid rgb(128, 153, 11);
                    color     : #80990B;

                    .dropdown-toggle {
                        color: #80990B;
                    }

                    .dropdown-content {
                        display: block;
                    }
                }

                .dropbtn {}

                &.active {
                    color     : #80990B;
                    border-top: 5px solid rgb(128, 153, 11);

                    .dropdown-toggle {
                        color: #80990B;
                    }
                }


                i {
                    margin-top: 8px;
                    font-size : 17px;
                }

                .dropbtn {
                    &:hover {
                        opacity: 0.8;
                    }

                    a {

                        text-decoration: none;

                        &.active {
                            color     : #80990B;
                            border-top: 5px solid rgb(128, 153, 11);
                        }
                    }

                }

                .dropdown-content {
                    display         : none;
                    border-radius   : 5px;
                    position        : absolute;
                    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index         : 1;
                    margin-top      : 180px;
                    min-width       : 200px;
                    background-color: #fff;
                    padding         : 0;

                    .dropdown-content-item {
                        list-style   : none;
                        margin-top   : 15px;
                        margin-bottom: 15px;

                        a {
                            color          : #888;
                            text-decoration: none;
                            font-weight    : 400;
                            padding        : 10px 20px;
                            line-height    : 1;
                            font-size      : 14px;

                            &:hover {
                                color: #80990B;
                            }
                        }
                    }

                }
            }

            .dropbtn {
                .header-element-search {
                    margin-right: 20px;
                    margin-top  : 2px;

                    .farmart-search-icon {
                        .farmart-svg-icon {
                            font-size: 18px;

                            svg {
                                color         : #000;
                                vertical-align: -0.125em;
                                width         : 1em;
                                height        : 1em;
                                display       : inline-block;
                                fill          : currentColor;
                            }
                        }
                    }
                }
            }
        }

        .ul-img {
            display     : flex;
            gap         : 25px;
            margin-right: 32px;

            img {
                object-fit: contain;
                margin-top: 4px;
            }

            .supprot {
                text-decoration: none;

                .supprot-item {
                    font-size     : 13px;
                    color         : rgb(128, 153, 11);
                    text-transform: uppercase;
                    line-height   : 2.077;
                    font-family   : 'Mulish', sans-serif;
                }
            }

            .phone {
                text-decoration: none;

                .phone-item {
                    color         : black;
                    font-size     : 18px;
                    text-transform: uppercase;
                    font-weight   : bold;
                    text-align    : right;
                    font-family   : 'Mulish', sans-serif;
                }
            }
        }


    }

    .cove-slider {
        .slick-next {
            display: none !important;
        }

        .slide {
            position: relative;

        }

        img {
            width: 100%;
        }

        .text {
            position : absolute;
            top      : 54%;
            left     : 51%;
            transform: translate(-51%, -51%);

            .text-above {
                font-family   : "Mulish", sans-serif;
                color         : rgb(128, 153, 11);
                text-transform: uppercase;
                line-height   : 1.846;
                text-align    : left;
                margin-top    : -21px;
                font-size     : 13px;
                font-weight   : 400;
                letter-spacing: 1.8px;

            }

            .text-between {
                font-size  : 48px;
                font-family: "Mulish", sans-serif;
                color      : rgb(34, 34, 34);
                font-weight: bold;
                line-height: 1.25;
                text-align : left;
                margin-top : -36px;

                span {
                    color: rgb(128, 153, 11);
                }
            }

            .text-below {
                font-weight   : 400;
                margin-top    : -20px;
                padding-bottom: 70px;
                font-size     : 14px;
                font-family   : "Mulish", sans-serif;
                color         : rgb(136, 136, 136);
                line-height   : 1.857;
                height        : 65px;
                text-align    : left;
                width         : 420px;
            }

            .button {

                .button-get {
                    width           : 100%;
                    border-radius   : 5px;
                    background-color: rgb(128, 153, 11);
                    left            : 375px;
                    top             : 641px;
                    padding         : 20px 43px 20px 43px;
                    font-size       : 14px;
                    font-family     : 'Mulish', sans-serif;
                    color           : rgb(255, 255, 255);
                    font-weight     : bold;
                    text-transform  : uppercase;
                    line-height     : 1.2;
                    text-align      : center;
                    text-decoration : none;

                    &:hover {
                        opacity: 0.8;
                    }

                    i {
                        font-size  : 11px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .slick-dots {
        bottom: 45px !important;
        left  : 5px;
        width : 98% !important;

        li {
            border-radius   : 50%;
            background-color: rgb(229, 229, 229);
            width           : 10px !important;
            height          : 10px !important;

            &.slick-active {
                border-radius   : 6px;
                width           : 30px !important;
                background-color: rgb(128, 153, 11);
            }
        }
    }

    .button-slider {

        cursor: pointer;

        .left {
            left            : 3%;
            position        : absolute;
            top             : 53%;
            border-radius   : 50%;
            background-color: rgb(255, 255, 255);
            box-shadow      : 0px 0px 40px 0px rgb(0 0 0 / 10%);
            width           : 50px;
            height          : 50px;
            text-align      : center;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
            img {
                margin-top: 19px;
            }
        }

        .right {
            position        : absolute;
            right           : 2%;
            top             : 53%;
            border-radius   : 50%;
            background-color: rgb(255, 255, 255);
            box-shadow      : 0px 0px 40px 0px rgb(0 0 0 / 10%);
            width           : 50px;
            height          : 50px;
            text-align      : center;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
            img {
                margin-top: 19px;
            }
        }
    }


}

#Footer {
    padding-bottom: 440px;
    margin-top    : 93px;
    position      : relative;

    .footer-background {
        background-repeat  : no-repeat;
        background-position: center bottom;
        position           : absolute;
        left               : 0;
        top                : 0;
        width              : 100%;
        height             : 100%;
        z-index            : -9;
    }

    .newsletter {
        background-image: url(../images/index/subscripbe.png);

        .newsletter-item {
            height         : 138px;
            display        : flex;
            justify-content: space-between;
            place-items    : center;

            .text {
                display    : flex;
                gap        : 32px;
                margin-top : 8px;
                margin-left: 7px;

                img {
                    object-fit: contain;
                }

                p {
                    font-size  : 22px;
                    font-family: 'Mulish', sans-serif;
                    color      : rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.455;
                    width      : 400px;
                }
            }

            form {
                width: 49%;

                .input {
                    height       : 46px;
                    width        : 100%;
                    font-size    : 14px;
                    font-family  : "Mulish", sans-serif;
                    color        : rgb(170, 170, 170);
                    line-height  : 1.2;
                    outline      : none;
                    border-radius: 3px;
                    border       : rgb(255, 255, 255);
                    padding      : 1px 15px;
                    box-sizing   : border-box;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .input-submit {
                    border-radius: 3px;
                    background-color: #000;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 14px;
                    padding: 0 45.28px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

    }

    .contact-info {
        display              : grid;
        gap                  : 15px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-top           : 54px;

        .cove-contact {
            width          : 380px;
            height         : 165px;
            box-shadow     : 0px 0px 40px 0px rgb(0 0 0 / 10%);
            justify-content: center;
            align-items    : flex-end;

            .contact {
                justify-content: space-between;
                display        : flex;
                padding        : 20px 35px 0 42px;


                .contact-text {
                    .day {
                        font-size  : 20px;
                        font-family: 'Mulish', sans-serif;
                        color      : rgb(34, 34, 34);
                        font-weight: bold;
                        line-height: 1.6;
                        text-align : left;
                    }

                    .support {
                        font-size     : 13px;
                        font-family   : 'Mulish', sans-serif;
                        color         : rgb(136, 136, 136);
                        text-transform: uppercase;
                        line-height   : 2.077;
                    }

                    a {
                        font-size      : 20px;
                        font-family    : 'Mulish', sans-serif;
                        color          : #555;
                        font-weight    : bold;
                        line-height    : 1.6;
                        text-align     : left;
                        text-decoration: none;
                    }

                    .address {
                        font-size  : 20px;
                        font-family: 'Mulish', sans-serif;
                        color      : rgb(34, 34, 34);
                        font-weight: bold;
                        line-height: 1.6;
                        text-align : left;

                        &:hover {
                            color: #80990B;
                        }
                    }
                }

                .footer-extra__icon {

                    .farmart-svg-icon {
                        font-size: 56px;

                        .icon-history {
                            margin-top    : 59px;
                            vertical-align: -0.125em;
                            width         : 1em;
                            height        : 1em;
                            display       : inline-block;
                            fill          : currentColor;
                            color         : #e5e5e5;

                        }
                    }
                }

            }
        }

    }

    .footer-about {
        margin-top: 27px;

        .footer-about-item {
            gap: 112px;

            .footer-flex {
                margin-top: 5px;

                .footer-flex-content {
                    width      : 457px;
                    font-size  : 14px;
                    font-family: 'Mulish', sans-serif;
                    color      : rgb(136, 136, 136);
                    line-height: 1.714;
                    text-align : left;
                }

                .menu-icon {
                    gap       : 27px;
                    padding   : 0;
                    margin    : 0;
                    margin-top: 28px;

                    .menu-item {
                        list-style: none;
                        
                        a {
                            font-size  : 15px;
                            color      : rgb(34, 34, 34);
                            line-height: 1.8;
                            :hover {
                                color: #80990B;
                            }
                        }
                    }

                }
            }

            .footer-right {
                gap: 54px;

                .menu-footer {
                    list-style: none;

                    .footer-right-title {
                        font-size  : 16px;
                        font-family: 'Mulish', sans-serif;
                        color      : rgb(34, 34, 34);
                        font-weight: bold;
                        line-height: 1.875;
                    }

                    .menu-item-type {
                        padding: 5px 0;

                        a {
                            font-size      : 14px;
                            font-family    : 'Mulish', sans-serif;
                            color          : #80990B;
                            font-weight    : 500;
                            text-decoration: none;
                        }
                    }
                }
            }

        }

        .footer-below {
            margin-top: 38px;

            .footer-below-item {
                padding-top: 17px;
                border-top : 1px solid rgb(238, 238, 238);
                ;
                justify-content: space-between;
                place-items    : center;

                .footer-flex {
                    p {
                        font-size  : 14px;
                        font-family: 'Open Sans', sans-serif;
                        color      : rgb(102, 102, 102);
                        line-height: 1.5;
                        text-align : left;

                        a {
                            color          : #80990B;
                            text-decoration: none;
                        }
                    }
                }

                .footer-right {
                    padding: 0;
                    gap    : 33px;

                    li {
                        position  : relative;
                        list-style: none;

                        &::before {
                            content    : "";
                            display    : block;
                            border-left: 1px solid rgb(229, 229, 229);
                            height     : 14px;
                            position   : absolute;
                            right      : -15px;
                            top        : calc(50% - 7px);
                        }

                        &:last-child {
                            &::before {
                                border: none;
                            }
                        }

                        a {
                            position       : relative;
                            font-size      : 14px;
                            font-family    : 'Open Sans', sans-serif;
                            color          : rgb(102, 102, 102);
                            line-height    : 1.5;
                            text-align     : right;
                            text-decoration: none;
                        }
                    }
                }
            }



        }

    }
}


@media screen and (max-width: 1450px) {
    #Header {
        .menu {
            .ul-menu {
                gap: 35px;
                margin-right: -40px;

                .li-menu {


                    i {
                        font-size: 11px;
                    }
                }


            }

            .ul-img {
                .header-rigth {
                    .phone {
                        .phone-item {
                            font-size: 12px;
                        }
                    }

                    .supprot {
                        .supprot-item {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .icon-search {
        display     : block;
        margin-right: 21px;
    }

    .header-element-search {
        margin-right: 15px;
    }

    .container {
        max-width       : 96%;
        // padding-left: 15px;
        // padding-right: 15px;
    }

    #Header {
        .slick-initialized {
            padding-top: 50px;
        }

        .cove-slider {
            .text {
                top      : 50%;
                transform: translate(-51%, -56%);

                .text-above {
                    font-size: 13px;

                }

                .text-between {
                    font-size : 30px;
                    margin-top: -20px;
                }

                .text-below {
                    margin-top    : -15px;
                    padding-bottom: 30px;
                    font-size     : 14px;
                }

                .button {
                    .button-get {
                        padding  : 15px 25px;
                        font-size: 12px;

                    }
                }
            }
        }

        .menu {
            width           : 100%;
            border-bottom   : 1px solid #eee;
            background-color: #fff;

            .ul-menu {
                display: none;


            }

            .ul-img {
                display: none;
            }

            .logo {
                font-size: 15px;
            }

            .nav-bars-btn {
                flex-wrap: wrap;
                display  : block;
            }
        }
    }


    #Footer {

        .newsletter {
            .newsletter-item {
                .text {
                    margin-left: 0;
                }
            }
        }

        .contact-info {
            .cove-contact {
                width: 100%;

                .contact {
                    .contact-text {
                        .support {
                            font-size: 12px;
                        }

                        .day {
                            font-size: 15px;
                        }

                        .address-item {
                            font-size: 16px;
                        }
                    }

                    .footer-extra__icon {
                        .farmart-svg-icon {
                            font-size: 45px;
                        }
                    }
                }
            }
        }

        .footer-about {
            .footer-about-item {
                .footer-flex {
                    .footer-flex-content {}
                }

                .footer-right {
                    gap: 1px;

                    ul {
                        .footer-right-title {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .button-slider {
        display: none;
    }

    #Footer {
        .contact-info {
            .cove-contact {
                .contact {
                    .contact-text {
                        .address {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .footer-about {
            .footer-about-item {
                gap: 30px;

                .footer-right {

                    ul {
                        .footer-right-title {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .newsletter {
            .newsletter-item {
                form {
                    button {
                        padding: 0 30px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 930px) {
    #Footer {
        height: auto;

        .footer-about {
            .footer-about-item {
                flex-wrap: wrap;

                .footer-right {
                    ul {
                        &:first-child {
                            padding: 0;
                        }

                    }
                }
            }

            .footer-below {
                .footer-below-item {
                    // justify-content: center;
                    flex-wrap: wrap;

                    .footer-flex {
                        p {
                            color: black;
                        }
                    }

                    .footer-right {
                        justify-content: center;

                        a {
                            color: black;
                        }
                    }
                }
            }
        }

        .newsletter {
            .newsletter-item {
                .text {
                    width: 50%;

                    p {
                        font-size: 18px;
                    }
                }

                .subscribe {
                    width: 50%;

                    form {
                        display: flex;

                        input {
                            width: 100%;
                        }

                    }
                }
            }
        }



    }
}

@media screen and (max-width: 918px) {

    #Footer {
        .contact-info {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media screen and (max-width: 768px) {
    #Header {
        .cove-slider {
            .text {
                .text-above {
                    font-size: 11px;
                }

                .text-between {
                    font-size : 22px;
                    margin-top: -20px;
                }

                .button {
                    .button-get {
                        font-size: 10px;
                    }
                }

                .button {
                    .button-get {
                        i {
                            font-size: 8px;
                        }
                    }
                }
            }

            // .slide {
            //     .slick-slide-bg {
            //         height: 500px;
            //     }
            // }
            img {

                height    : 400px;
                object-fit: cover;
            }
        }

        .menu {
            .ul-menu {
                display: none;
            }

            .ul-img {}

        }
    }


    #Footer {
        .contact-info {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .cove-contact {
                .contact {
                    .footer-extra__icon {
                        .farmart-svg-icon {
                            font-size: 55px;
                        }
                    }

                    .contact-text {
                        .address-item {
                            font-size: 19px;
                        }

                        .day {
                            font-size: 19px;
                        }

                        .support {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .footer-about {
            .footer-about-item {
                .footer-flex {
                    width: 100%;
                }
            }
        }

        .newsletter {
            .newsletter-item {
                flex-wrap: wrap;
                padding  : 4px 0 32px;
                height   : auto;

                .text {
                    width: 100%;

                    p {
                        font-size: 18px;
                        width    : 100%;
                    }
                }

                form {
                    width: 100%;
                }
            }

        }
    }
}

@media screen and (max-width: 600px) {
    #Header {
        .cove-slider {
            .text {
                .text-above {
                    font-size: 11px;
                }

                .text-between {
                    margin-top: -8px;
                    width     : 300px;
                }

                .text-below {}

                .button {
                    .button-get {
                        padding: 13px 20px;
                    }
                }
            }
        }

        .menu {
            .ul-menu {
                display: none;
            }

            .ul-img {}

        }
    }



    #Footer {
        .contact-info {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .cove-contact {
                .contact-text {
                    .address {
                        font-size: 20px;
                    }
                }
            }
        }

        .newsletter {
            .newsletter-item {
                flex-wrap: wrap;

                .text {
                    width: 100%;
                }


            }
        }

        .footer-about {
            .footer-about-item {
                .footer-flex {
                    .footer-flex-content {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    #Footer {
        .footer-about {
            .footer-below {
                .footer-below-item {
                    .footer-right {
                        gap: 20px;
                    }
                }
            }
        }

        .newsletter {
            .newsletter-item {
                form {
                    .form-fields {
                        flex-wrap: wrap;

                        .input-submit {
                            padding-left : 0;
                            padding-right: 0;
                            width        : 100%;
                            margin-top   : 10px;
                            height       : 45px;
                            border       : 0;
                            border-radius: 3px;
                        }
                    }

                }
            }
        }
    }
}